.App {
  text-align: center;
  background-color: #0056b3; /* Background for your main app container */
  min-height: 100vh; /* Makes the App container fill the viewport height */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* Set a color for the whole page */
}
